*.bkp
*.dll
*.dylib
*.exe
*.exe~
*.gz
*.iml
*.jar
*.snap
*.so
*.swo
*.swp
*.tar
*.tar.gz
*.tgz
*.xlog
*~
.DS_Store
.classpath
.factorypath
.idea
.idea/
.m2/repository
.project
.rocks/
.settings
.svace-dir
.vscode/
Pipfile
Pipfile.lock
__pycache__/
allure_results/
.run/
bin
**/OpenLogReplicator.err
**/OpenLogReplicator.txt
k8s/bin
k8s/cdc
target/
plugins/
tmp/
vendor/
workbench.xmi
docs/.env
docs/output/
local-stand/configs/monitoring/grafana/dashboard/*.json
dashboard.json
local-stand/configs/databases/elasticsearch/certs/ca
local-stand/configs/databases/elasticsearch/certs/client
local-stand/configs/databases/elasticsearch/certs/target-elasticsearch
docs/output
.java-version
tarantool-cdc-jar-bundle/
tarantool-cdc-jar-bundle-*.tar.gz
tarantool-cdc-docker-bundle/
tarantool-cdc-docker-bundle-*.tar.gz
offsets.dat
config.h

build/
cmake-build-*/
tests/3-generated/
tests/.work/
tests/.results/
